.PlayerTile {
  background-color: lightgray;
  border: 1px solid black;
  padding: 2px;
  display: grid;
  position: relative;
}

.Token {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  border-radius: 100%;

  position: absolute;
  pointer-events: none;

  z-index: 2;
}