.Table {
  max-width: 900px;
  max-height: 900px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);

  /* border: 1px solid #eeeeee; */
  border: 1px solid black;
}


.Cell {
  background-color: lightgray;
  /* margin: 1px; */
  /* border: 1px solid #eeeeee; */
  border: 1px solid black;
  padding: 0;
  /* border: 0; */
  /* transition: linear 0.1s; */
}

/* .Cell:hover {
  background-color: grey;
} */

.Token {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  border-radius: 100%;
}

.hidden {
  display: none;
}

.staged {
  background-color: yellow;
  border: 2px solid #bbbb00;
}

.hit {
  background-color: red;
  border: 2px solid maroon;
}

.miss {
  background-color: rgb(165, 165, 165);
  border: 2px solid gray;
}


#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.BoatSelectContainer {
  display: flex;
  flex-direction: row;
  background-color: darkcyan;
}

.Boat {
  background-color: lightblue;
  width: 100px;
  border: 1px solid blue
  /* height: 200px; */
}

.Boat.selected {
  background-color: blue;
}

.Temp {
  position: relative;
  background-color: orange;
  /* width: 100%;
  height: calc(200% + 2px); */

  pointer-events: none;

  /* width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  border-radius: 100%;

  background-color: orange; */
}