#table-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: aquamarine;
}

.Game {
  display: grid;
  grid-template-columns: 60% 40%;

  height: 100vh;

  align-content: center;
}


.Table {
  max-width: 900px;
  max-height: 900px;
  height: auto;
  width: 100%;
  display: grid;
  aspect-ratio: 1 / 1;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);

  /* border: 1px solid #eeeeee; */
  border: 1px solid black;
}


.Cell {
  background-color: lightgray;
  /* margin: 1px; */
  /* border: 1px solid #eeeeee; */
  border: 1px solid black;
  padding: 0;
  display: grid;
  /* border: 0; */
  /* transition: linear 0.1s; */
}

/* .Cell:hover {
  background-color: grey;
} */

.Token {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  border-radius: 100%;

  pointer-events: none;
}

.hidden {
  display: none;
}

.staged {
  background-color: yellow;
  border: 2px solid #bbbb00;
}

.hit {
  background-color: red;
  border: 2px solid maroon;
}

.miss {
  background-color: rgb(165, 165, 165);
  border: 2px solid gray;
}

.BoatSelectContainer {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: calc(100%/3) calc(50% - 100%/3) calc(50% - 100%/3) calc(100%/3);
  background-color: darkcyan;

  aspect-ratio: 1 / 1.6;
}

.BoatSelectHorizontal {
  display: flex;
  flex-direction: row;

  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.BoatSelectVertical {
  display: flex;
  flex-direction: column;

  grid-row: 3 / 5;
  grid-column: 1 / 2;
}


.UnplacedShip {
  width: 20%;
  cursor: pointer;
  /* height: 200px; */
}

.PlacedShip, .SelectedShip {
  position: relative;

  pointer-events: none;

  grid-row: 1;
  grid-column: 1;
}

.boat-rotate-button {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.boat-reset-button {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.boat-enter-button {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}