.Table {
  max-width: 900px;
  max-height: 900px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}


.Cell {
  background-color: lightgray;
  margin: 1px;
  padding: 0;
  border: 0;
  transition: linear 0.1s;
}

.Cell:hover {
  background-color: grey;
}

.Token {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  border-radius: 100%;
}

.hidden {
  display: none;
}

.staged {
  background-color: yellow;
  border: 2px solid #bbbb00;
}

.hit {
  background-color: red;
  border: 2px solid maroon;
}

.miss {
  background-color: rgb(165, 165, 165);
  border: 2px solid gray;
}


#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.Boat {
  background-color: lightblue;
  width: 100px;
  height: 200px;
}

.Boat.selected {
  background-color: blue;
}

.Temp {
  position: absolute;
  background-color: orange;
  width: 100px;
  height: 200px;
}