.Table {
  max-width: 900px;
  max-height: 900px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}


.Cell {
  background-color: lightgray;
  margin: 1px;
  padding: 0;
  border: 0;
  transition: linear 0.1s;
}

.Cell:hover {
  background-color: grey;
}

.Token {
  background-color: red;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  border-radius: 100%;
  border: 2px solid maroon;
}

.hidden {
  display: none;
}

.black {
  background-color: black;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}